*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background: transparent;
    cursor: pointer;
}